<ul>
    <li><strong>{{ producto.nombre}}</strong></li>
    <li><strong>Color: </strong>{{ producto.color}}</li>
    {% if producto.proveedor.id > 0 %}
        <li><strong>Proveedor: </strong>{{ producto.proveedor.nombre}}</li>
    {% endif %}
    
    <li><strong>Precio: </strong>{{ producto.precio}}€</li>                
</ul>