{% extends 'base.html.twig' %}

{% block title %}Productos{% endblock %}
{% block body %}
    <h1>Bienvenido a mi pagina de proudctos</h1>
    <p>Pincha sobre el siguiente enlace para ver todos los proudctos</p>
	<a id="bt" href="{{ path('app_producto') }}">Ver los productos</a>

{% endblock %}
